<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

<mat-form-field appearance="fill">
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="pat@example.com" [formControl]="email"
     formControlName="email" required (ngModelChange)="emailOnChange()" >
    <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
</mat-form-field>
<br/>

<mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input type='password' matInput placeholder="pat@example.com"
     [formControl]="password"
      formControlName="password" required  (ngModelChange)="passwordOnChange()">
    <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
</mat-form-field>

<div class="example-button-row">
    <button type='submit'  mat-raised-button color="primary" [disabled]="!loginForm.valid">Submit</button>
    <button mat-raised-button color="warn" (click)="reset()" [disabled]="!loginForm">Reset</button>
    <button mat-raised-button disabled>Cancel</button>
  </div>
  
</form>
<br/><br/>
