<mat-drawer-container class="my-container">
    <mat-drawer #drawer class="my-drawer" mode="over" position="start">
         Drawer Demo

         <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Test
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Test</p>
          <p>Results</p>
        </mat-expansion-panel>


    </mat-drawer>
    <mat-drawer-content>
      <div class="my-drawer-content">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container> 
