<mat-toolbar>
  <span>Login</span>
</mat-toolbar>

<div mat-dialog-content>
  <br/><br/>
  <div class="example-button-row">
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
  </div>
</div>


<!-- Copyright 2023 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at https://angular.io/license -->